<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="io.choerodon.gateway.mapper.UserMapper">

    <select id="isOrgAdministrator" resultType="java.lang.Boolean">
        select count(imr.id)
        from iam_member_role imr
        left join iam_role ir on imr.role_id = ir.id
        where ir.code = 'role/organization/default/administrator'
        and imr.source_type = 'organization' and imr.member_type = 'user'
        and imr.source_id = #{organizationId} and imr.member_id = #{userId}
    </select>
</mapper>
